<div class="app-wrapper-footer bg-midnight-bloom sidebar-text-light">
    <div class="app-footer ">
        <div class="app-footer__inner">
            <div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        Samis v.{{ session.version }} . &copy; 2025 All Rights Reserved. <strong>Samis Systems LTD</strong>. All Rights Reserved
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>